@font-face {
  font-family: 'Vinque';
  src: url('../assets/Vinque_Rg.woff') format('woff');
}
.dice {
  position: absolute;
  top: 50px;
  left: 48px;
  width: 200px;
  height: 145px;
  margin: 0 10px 10px; 
  justify-content: center;
  align-items: center;
  font-family: 'Vinque';
  z-index: 1200;
}

.menu-dice {
  position: relative;
  top:-40px;
  padding: 5px;
  font-family: 'Vinque';
  color: #ffffff;
}

label {
  padding-left:5px;
}

#diceCount {
  width: 15%;
  border: #0f011f;
  border-radius: 15px;
  padding-left: 5px;
  font-family: 'Vinque';
  margin-left: 10px;
}

#diceType {
  border: #0f011f;
  border-radius: 15px;
  font-family: 'Vinque';
  margin-left: 5px;
  padding-left: 1px;
  width: 20%;
  
}

.roll {
  background-color: #1d0202dc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 30%; 
  height: 30px;
  position: relative;
  top: -30px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Vinque';
}

.roll:hover {
  background-color: #3d0707dc;
}

.d20 {
  font-size: 20px;
  
}

.btn-menu:hover {
  background-color: #500303;
}

.dd {
  font-size: 20px;
}

.btn-menu {
  padding: 9px;
  background-color: #460101fd;
  color: white;
  border-radius: 50%; 
  cursor: pointer;
  position: relative;
  top: -48px;
  border: 2px solid #00000041;
}


.btn-menu::after {
  content: attr(titl);
  font-family: 'Vinque';
  display: none;
  position: absolute;
  background-color: #2e2e2ecc; 
  color: #fff; 
  padding: 5px; 
  border-radius: 5px; 
  font-size: 14px; 
  white-space: nowrap; 
  left: 0;
  top: 0;
}

.btn-menu:hover::after {
  display: block;
  left: calc(30% + 1px); 
  top: calc(80% + 1px);
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dice-panel {
  position: relative;
  width: 1000px;
  height: 2000px;
}

.clearRoll {
  background-color: #1d0202dc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 30%; 
  height: 30px;
  position: relative;
  top: -30px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Vinque';
}

.clearRoll:hover {
  background-color: #3d0707dc;
}

.hideRoll {
  background-color: #1d0202dc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 30%; 
  height: 30px;
  position: relative;
  top: -30px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Vinque';
}

.hideRoll:hover {
  background-color: #3d0606dc;
}

#dddice {
  position: absolute;
  top: 2px;
  left: -50px;
  width: 2px;
  height: 2px;
  display:flexbox;
  pointer-events: none;
}
