@font-face {
    font-family: 'Vinque';
    src: url('../assets/Vinque_Rg.woff') format('woff');
  }

.toolbar {
    background-color: #a0373775;
    backdrop-filter: blur(1px);
    width: 110px;
    height: 95px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.toolbar button {
    position: relative;
    font-family: 'Vinque';
    font-size: 14px;
    top: -8px;
    width: 108%;
    right: 10px;
    background-color: #d69c9c2d;
    color: rgb(7, 0, 0);
    border: none;
    padding: 5px;
    box-sizing: inherit;
    border-radius: 10px;
}

.toolbar button:hover {
    background-color: #27010a83;
    border-radius: 10px;
}

.Map {
    padding-left: 10px;
    padding-top: 5px;
    background-color: #d3cacab4;
    position: relative;
   
}

.Map .grid {
  overflow:hidden;
}

.file-upload-container {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    color: white;
    top: -3px;
  }
  
  .file-upload-label {
    display: inline-block;
    padding: 2px;
    color: white;
    border: 2px solid #0000003d;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%; 
    cursor: pointer;
    width: 34px; 
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #290101fd;
  }
  
  .file-upload-label:hover {
    background-color: #500303;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
  }