@font-face {
  font-family: 'Vinque';
  src: url('../assets/Vinque_Rg.woff') format('woff');
}

.navbar-links {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #3c3f4654;
    backdrop-filter: blur(2px);
    border-bottom:#3a3333 1px solid;
    box-shadow: #cec4c4a2 0 0 7px;
    color: #fff; 
    padding: 10px 10px; 
    z-index: 1000; 
    font-size: 20px;
    font-family: 'Vinque';
  }

  .navbar-links ul {
    position: absolute;
    top: 1px;
    right: 100px;
  }

  .navbar-links li {
    display: inline-block;
    transform: translateX(30px);
    padding-right: 100px;
  }

  .navbar-links Link {
    color: #fff;
    text-decoration: none;
  }


  ul box-icon{
    position: absolute;
    display: inline-block;
    transform: translate(-65px, 2px);
  }

  .logo {
    position: fixed;
    top: 4px;
    left: 40px;
    width: 58px;
    height: 58px;
    cursor: pointer;
  }
  
  .logo:hover {
    position: absolute;
    top: -19px;
    left: -10px;
    width: 64px;
    height: 64px;
  }

  .container-logo {
    position: fixed;
    top: 20px;
    left: 50px;
    width: 33px;
    height: 25px;
    box-shadow: #ff0505 0 0 30px;
  }
  .container-logo:hover {
    position: fixed;
    top: 20px;
    left: 50px;
    width: 31px;
    height: 30px;
    box-shadow: #ff0505 0 0 35px;
  }