@font-face {
  font-family: 'Vinque';
  src: url('../assets/Vinque_Rg.woff') format('woff');
}

.room-page {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%; 
}

.favicon-room {
  position: relative;
  left: 5px;
  transform: translateY(2px);
  width: 55px;
  height: 55px;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: #dddcdcef;
  margin: 5px;
}

.favicon-room:active {
  width: 54px;
  height: 54px;
}

.dice-area {
  position: absolute;
  width: 100%;
}


.header {
  background-color: #06011be7;
  border-bottom: 3px solid #11011be7;
}

.btn-users-list:hover {
  background-color: #3f0581;
}

.btn-user-list {
  font-size: 21px ;
}

.btn-users-list {
  padding: 9px;
  background-color: #160136;
  color: white;
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 110px;
  height: 44px;
  width: 43px;
  border: 2px solid #0f011f;
}

.menu-usr {
  position: absolute;
  top:45px;
  left:130px ;
  padding: 5px;
  width: 120px;
  height: 150px;
  border-radius: 10px;
  font-family: 'Vinque';
  background-color: #4a3e6da9;
}

.usr {
  padding: 2px;
  padding-left: 10px;
  font-size: 17px;
  color: #ffffffe5;
}

.usr-icon {
  padding-right: 7px;
}