@font-face {
  font-family: 'Vinque';
  src: url('../assets/Vinque_Rg.woff') format('woff');
}

body {
 overflow: hidden;
}

.favicon-room {
  position: relative;
  left: 20px;
  width: 53px;
  height: 53px;
  cursor: pointer;
  border-radius: 30px;
  margin: 5px;
  top: 0px;
}

.favicon-room:hover {
  width: 61px;
  height: 61px;
}
.fav-ico {
  width: 60px;
  height: 54px;
}

.fav-ico::after {
  content: attr(titl);
  font-family: 'Vinque';
  display: none;
  position: absolute;
  background-color: #2e2e2e8e; 
  color: #ffffffa8; 
  padding: 5px; 
  border-radius: 5px; 
  font-size: 14px; 
  white-space: nowrap; 
  z-index: 1222;
  left: 0;
  top: 0;
}

.fav-ico:hover::after {
  display: block;
  left: calc(3% + 1px); 
  top: calc(5% + 1px);
}

.header {
  height: 63px;
  background-color: #180202;
  border-bottom: 3px solid #460101;
}

.users-list {
  position: relative;
  top: 3px;
  z-index: 999;
}

.btn-users-list:hover {
  background-color: #500303;
  z-index: 999;
}

.btn-user-list {
  font-size: 20px;
  z-index: 999;
}

.btn-users-list {
  z-index: 999;
  padding: 9px;
  background-color: #460101fd;
  color: white;
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  position: absolute;
  top: -0.7px;
  width: 42px; 
  height: 43px;
  left: 110px;
  border: 2px solid #00000059;
  align-items: center;
  justify-items: center;
}

.btn-user-list {
  position: relative;
  right: 14%;
  z-index: 999;
}

.btn-users-list::after {
  content: attr(titl);
  font-family: 'Vinque';
  display: none;
  position: absolute;
  background-color: #2e2e2ecc; 
  color: #fff; 
  padding: 5px; 
  border-radius: 5px; 
  font-size: 14px; 
  white-space: nowrap; 
  z-index: 999;
  left: 0;
  top: 0;
}

.btn-users-list:hover::after {
  display: block;
  left: calc(30% + 1px); 
  top: calc(60% + 1px);
}

.menu-usr {
  position: absolute;
  top:45px;
  left:130px ;
  padding: 5px;
  width: 120px;
  height: 150px;
  border-radius: 10px;
  font-family: 'Vinque';
  background-color: #502424a9;
  backdrop-filter: blur(1.5px);
  z-index: 5;
}

.usr {
  padding: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 17px;
  color: #ffffffe5;
}

.usr-icon {
  padding-right: 7px;
}

.room-page {
  position: relative;
}

.image-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.dice-area {
  position: absolute;
  width: 100%;
}

.chat-area {
  position: relative;
  width: 100%;
  z-index: 1001;
}
