

#dice-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 200px;
  background-image: url('../../public/assets/woodgrain2.jpg');
  background-size: cover;
}

#dice-box canvas {
  width: 100%;
  height: 100%;
}

#roll {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}