@font-face {
  font-family: 'Vinque';
  src: url('../assets/Vinque_Rg.woff') format('woff');
}
.UserPage {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    height: 100%; 
    background: url('../assets/userscheme.png');
    background-size:cover;
    background-position: center;
    font-family: 'Vinque';
    overflow: hidden;
}

.UserPage button {
    position: absolute;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(211, 192, 175, 0.397);
    cursor: pointer;
    font-size: 15px;
    margin: 30px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2e180571;
    color: white;
}

.UserPage button:hover {
    background-color: #201202e5;
}
.button-txt {
  font-family: 'Vinque';
  padding: 8px;
  font-size: 16px;
}

button:active {
    background-color: #91726c;
    transform: translateY(2px);
}

.UserPage button box-icon {
    position: relative;
    bottom: -1px;
}

.UserPage p {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 225px;
   
}

.create-room-form-overlay {
    position: fixed; /* Фиксированное положение для всплывающего окна */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный цвет фона */
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }
  
  .create-room-form-container {
    background-color: #2e24186b;
    backdrop-filter: blur(2px);
    width: 260px;
    height: 120px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(46, 45, 45, 0.623); /* Тень для окна */
  }
  
  .create-room-form-container form {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .create-room-form-container input {
    margin-top: 18px;
    padding: 8px;
    border: 1px solid #cccccc4b;
    border-radius: 14px;
    font-family: 'Vinque';
    font-size: 14px;
    background-color: #8024242f;
    color: white;
  }
  
  .create-room-form-container button {
    padding: 8px 11px;
    background-color: #2b0503cc;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    left: 1px;
    width: 40%;
    font-family: 'Vinque';
  }
  
  .create-room-form-container button.btn-sub {
    position: relative;
    left: 10px;
    bottom: 15px;
    font-family: 'Vinque';
  }
  .create-room-form-container button.btn-close {
    position: relative;
    bottom: 109px;
    left: 140px;
    font-family: 'Vinque';
  }

  .create-room-form-container button:hover {
    background-color: #5a0808f5;
  }

  .room-list {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: #2e271e5e;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(128, 122, 122, 0.2);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 14px rgba(167, 166, 165, 0.2);
    color: #fffbf8;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap; 
  }
  
  .room-list > * {
    margin: 0 10px;
  }
  

.room {
    cursor: pointer;
    font-family: 'Vinque';
}

.door {
    width: 90px;
    height: 150px;
    background-image: url('../assets/door.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: #250807 0 0 20px;
    position: relative;
    padding-left: 10px;
    margin-left: 40px;
    right: 40px;
}

.door:hover {
    background-image: url('../assets/open-door.gif');
}

.room-name {
  position: relative;
  right: 20px;
}